/*-----------------------------------*/
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #090A0C;
  background-color: white;
  margin: 0;
}

/*-----------------------------------*/
.header {
  padding: 10px;
  text-align: center;
}
.header__logo {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}
@media screen and (min-width: 800px) {
  .header__logo {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*-----------------------------------*/
.menu {
  background-color: #65A4A0;
  padding: 20px;
  /* --------------------------------*/
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
  font-weight: 500;
  color: white;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #65A4A0;
}
.menu_item {
  border-bottom: 1px solid #090A0C;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}
.menu__link:hover, .menu__link:focus {
  background-color: #375756;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
@media screen and (min-width: 800px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex !important;
    justify-content: center;
  }
  .menu__item {
    border-bottom: 0;
    border-right: 1px solid darkgrey;
  }
}

/* --------------------------------*/
.main {
  margin: 0 10px auto;
}
@media screen and (min-width: 800px) {
  .main {
    max-width: 1800px;
    padding: 50px 15%;
    margin: 0 auto 10px auto;
  }
}

.introduction__text {
  text-align: center;
  font-style: italic;
  padding: 5px;
}
@media screen and (min-width: 800px) {
  .introduction__text {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.introduction__newly-added {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 550px) {
  .introduction__newly-added {
    align-items: center;
  }
}
@media screen and (min-width: 800px) {
  .introduction__newly-added {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .recipe-list {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.category-title {
  align-self: start;
  margin-left: 10px;
  font-size: 22px;
}

.newly-added__preview {
  border: 1.5px solid #375756;
  border-radius: 10px;
  display: flex;
  flex: 1 1 auto;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 500px) {
  .newly-added__preview {
    flex: 0 1 auto;
    max-width: 600px;
    width: 100%;
    max-height: 300px;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.preview__title {
  display: inline-block;
  width: 300px;
  margin-top: 0;
  margin-bottom: 10px;
  text-decoration: underline;
}
@media screen and (min-width: 550px) {
  .preview__title {
    width: 300px;
  }
}
.preview__preparation-overview {
  font-size: 16px;
  margin-bottom: 10px;
}
.preview__preparation-overview td {
  padding-right: 20px;
}
.preview__photo {
  max-width: 150px;
  border-radius: 10px;
}
@media screen and (min-width: 500px) {
  .preview__photo {
    order: 1;
  }
}
.preview__button {
  display: inline-block;
  border: 1px solid #375756;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  color: #090A0C;
  font-size: 16px;
  background-color: #E0E7E7;
  align-self: center;
}
.preview__button:hover, .preview__button:focus {
  background-color: #375756;
  color: white;
}

.recipe {
  padding: 20px;
}
@media screen and (min-width: 550px) {
  .recipe {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 100px 20px auto auto;
    gap: 20px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
.recipe__title h1 {
  font-size: 22px;
}
@media screen and (min-width: 550px) {
  .recipe__title h1 {
    font-size: 26px;
  }
}
.recipe__preparation-overview {
  font-size: 16px;
  margin-bottom: 10px;
}
.recipe__preparation-overview td {
  padding-right: 20px;
}
@media screen and (min-width: 550px) {
  .recipe__preparation-overview {
    font-size: 18px;
    grid-row: 2;
  }
}
.recipe__photo {
  max-width: 350px;
  width: 100%;
  border-radius: 10px;
  margin: 15px auto;
}
@media screen and (min-width: 550px) {
  .recipe__photo {
    max-width: 400px;
    width: 100%;
    grid-column: 2/span 1;
    grid-row: 2/span 3;
    margin: 0;
    justify-self: center;
  }
}
.recipe__portions {
  font-size: 16px;
  margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
  .recipe__portions {
    font-size: 18px;
    grid-row: 3;
  }
}
.recipe__ingredients {
  font-size: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 500px) {
  .recipe__ingredients {
    font-size: 18px;
    grid-row: 4;
  }
}
.recipe__howto {
  font-size: 16px;
}
.recipe__howto li {
  padding-bottom: 10px;
}
@media screen and (min-width: 500px) {
  .recipe__howto {
    font-size: 18px;
    grid-row: 5;
    grid-column: span 2;
  }
}

.footer {
  display: block;
  background-color: #65A4A0;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */