


/*-----------------------------------*/

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	
}

/*-----------------------------------*/

.header {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 50px;

	&__title {
		font-family: 'Kaushan Script', cursive;
		font-size: 48px;
	}
	
	&__logo {
		max-width: 100%;
		width: 100px;
		height: 100px;
		margin-left: 30px;
	}
}



/*-----------------------------------*/
.menu {
	&__checkbox {
	position: absolute;
	left: -9999px
	}

	&__toggler {
	cursor: pointer; 
	}

	&__list {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: silver;
	}

	&_item {
		border-bottom: 1px solid darkgray;
	}

	&__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color:white;
	}

	&__link:hover,
	&__link:focus {
		background-color: rgb(153, 152, 152);
	}

	&__checkbox:checked ~ &__list {
		display: block;
	}

	/* --------------------------------*/

	@media screen and (min-width:800px) {
		&__toggler {
			display: none;
		}

		&__list {
			display: flex !important;
		}

		&__item {
			border-bottom: 0;
			border-right: 1px solid darkgrey;
		}
	}

}

/* --------------------------------*/
.main {
	
 	margin: 0 auto;

	@media screen and (min-width:800px) {
		max-width: 1800px;
		padding: 50px 15%;
	}
}

.introduction__newly-added {
	display: flex;
	flex-direction: column;
	gap: 10px
}

.newly-added__preview {
	border: 2px solid black;
	border-radius: 10px;
	flex: 1 1 auto;
	padding: 20px;
	flex-direction: row;
	flex-wrap: wrap;
}

.preview {
	&__title {

	}

	&__preparation-overview {
		
	}

	&__photo {
		max-width: 150px;
		border-radius: 10px;
	}

	&__button {
		border: 1px solid silver;
		border-radius: 10px;
		padding: 10px;
	}
}



