$color-primary: #090A0C;
$color-secondary: #65A4A0;
$color-accent-dark: #375756;
$color-accent-light: #E0E7E7;
$color-background: white;


/*-----------------------------------*/

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: $color-primary;
	background-color: $color-background;
	margin: 0;
	
}

/*-----------------------------------*/

.header {
	padding: 10px;
	text-align: center;
	
	&__logo {
		max-width: 100%;
		height: auto;
		margin-top: 30px;
		@media screen and (min-width: 800px) {
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
			
		}
	}
}



/*-----------------------------------*/
.menu {
	background-color: $color-secondary;
	padding: 20px;
	


	&__checkbox {
		position: absolute;
		left: -9999px;
	
	}

	&__toggler {
		cursor: pointer; 
		font-weight: 500;
		color: $color-background;
	}

	&__list {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: $color-secondary;
	}

	&_item {
		border-bottom: 1px solid $color-primary;
	}

	&__link {
		display: block;
		padding: 15px;
		text-decoration: none;
		color: $color-background;
	}

	&__link:hover,
	&__link:focus {
		background-color: $color-accent-dark;
	}

	&__checkbox:checked ~ &__list {
		display: block;
	}

	/* --------------------------------*/

	@media screen and (min-width:800px) {
		
		&__toggler {
			display: none;
		}

		&__list {
			display: flex !important;
			justify-content: center;
		}

		&__item {
			border-bottom: 0;
			border-right: 1px solid darkgrey;
		}
	}

}

/* --------------------------------*/
.main {
	
 	margin: 0 10px auto;

	@media screen and (min-width:800px) {
		max-width: 1800px;
		padding: 50px 15%;
		margin: 0 auto 10px auto;
	}
}

.introduction {
	
	&__text {
		text-align: center;
		font-style: italic;
		padding: 5px;
		@media screen and (min-width: 800px) {
			max-width: 800px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__newly-added {
		display: flex;
		flex-direction: column;
		gap: 10px;
		@media screen and (min-width: 550px) {
			align-items: center;
		}
		@media screen and (min-width: 800px) {
			max-width: 800px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			gap: 20px;
		}
	}
		
}

.recipe-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;

    @media screen and (min-width: 800px) {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.category-title {
	align-self: start;
	margin-left: 10px;
	font-size: 22px;
}

.newly-added__preview {
	border: 1.5px solid $color-accent-dark;
	border-radius: 10px;
	display: flex;
	flex: 1 1 auto;
	padding: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
		
	@media screen and (min-width: 500px) {
		flex: 0 1 auto;
		max-width: 600px;
		width: 100%;
		max-height: 300px;
		flex-direction: column;
		justify-content: flex-start;
	}
}


.preview {
	&__title {
		display: inline-block;
		width: 300px;
		margin-top: 0;
		margin-bottom: 10px;
		text-decoration: underline;
		@media screen and (min-width: 550px) {
			width: 300px;
		}
	}

	&__preparation-overview {
		font-size: 16px;
		margin-bottom: 10px;
		td {
			padding-right: 20px;
		}
	}

	&__photo {
		max-width: 150px;
		border-radius: 10px;
		@media screen and (min-width: 500px) {
			order: 1;
		}
	}

	&__button {
		display: inline-block;
		border: 1px solid $color-accent-dark;
		border-radius: 10px;
		padding: 10px;
		text-decoration: none;
		color: $color-primary;
		font-size: 16px;
		background-color: $color-accent-light;
		align-self: center;
		&:hover,
		&:focus {
			background-color: $color-accent-dark;
			color: $color-background;
		}		
	}
}

.recipe {
	padding: 20px;
	@media screen and (min-width: 550px){
		display: grid;
		grid-template-columns: 300px 1fr;
		grid-template-rows: 60px 100px 20px auto auto;
		gap: 20px;
		max-width: 900px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
	}

	&__title h1 {
		font-size: 22px;
		@media screen and (min-width: 550px) {
			font-size: 26px;
		}
	}
	&__preparation-overview {
		font-size: 16px;
		margin-bottom: 10px;
		td {
			padding-right: 20px;
		}
		@media screen and (min-width: 550px) {
			font-size: 18px;
			grid-row: 2;
		}
	}
	&__photo {
		max-width: 350px;
		width: 100%;
		border-radius: 10px;
		margin: 15px auto;
		@media screen and (min-width: 550px) {
			max-width: 400px;
        	width: 100%;
			grid-column: 2/ span 1;
			grid-row: 2/ span 3;
			margin: 0;
			justify-self: center;
		}
		
	}

	&__portions {
		font-size: 16px;
		margin-bottom: 10px;
		@media screen and (min-width: 500px) {
			font-size: 18px;
			grid-row: 3;
		}
	}

	&__ingredients {
		font-size: 16px;
		margin-bottom: 20px;
		@media screen and (min-width: 500px) {
			font-size: 18px;
			grid-row: 4;
		}

	}

	&__howto {
		font-size: 16px;
		li {
			padding-bottom: 10px;
		}
		@media screen and (min-width: 500px) {
			font-size: 18px;
			grid-row: 5;
			grid-column: span 2;
		}
	}

}

.footer {
	display: block;
	background-color: $color-secondary;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	color: $color-background;
}


