<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ Recepty</label>

    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="/tepla-jidla/">Teplá jídla</a></li>
        <li class="menu__item"><a class="menu__link" href="/studena-jidla/">Studená jídla</a></li>
        <li class="menu__item"><a class="menu__link" href="/dezerty/">Dezerty</a></li>
        <li class="menu__item"><a class="menu__link" href="/napoje/">Nápoje</a></li>
        
    </ul>

</nav>