<nav class="menu">

    <input type="checkbox" class="menu__checkbox" id="menu-checkbox">
    <label for="menu-checkbox" class="menu__toggler">☰ Recepty</label>

    <ul class="menu__list">
        <li class="menu__item"><a class="menu__link" href="#">Teplá jídla</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Studená jídla</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Dezerty</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Nápoje</a></li>
        
    </ul>

</nav>